<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[DEV] Popcart.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
				<key>dateExpires</key>
				<string>25/03/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiEchoCancellationExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiEchoCancellationLLExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiNoiseSuppressionExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiNoiseSuppressionLLExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAudioBeautyExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraClearVisionExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraContentInspectExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraFaceCaptureExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraFaceDetectionExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraLipSyncExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraReplayKitExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4.5.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSoundTouch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSpatialAudioExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoAv1DecoderExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoAv1EncoderExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoDecoderExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoEncoderExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoQualityAnalyzerExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoSegmentationExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Agorafdkaac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Agoraffmpeg.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfigInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>11.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HyphenateChat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>4.10.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.14.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>agora_chat_sdk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>agora_rtc_engine.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>aosl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress_common.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>haptic_feedback.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iris_method_channel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pdf_compressor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.3.82</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_dec.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.82</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.3.60</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_enc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.60</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A1E3030E3D19CE56635FBAA93880D7C148E3118</string>
						<key>dateExpires</key>
						<string>25/03/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LB5YMG5W6W</string>
						<key>name</key>
						<string>Ayemere  Odia </string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LB5YMG5W6W.com.popcart.africa.mine</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LB5YMG5W6W</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>35876c6d-cb6c-4987-9c94-ccde7933bfcb</string>
				<key>dateExpires</key>
				<string>01/06/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.popcart.africa.mine</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LB5YMG5W6W</string>
				<key>name</key>
				<string>Ayemere  Odia </string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
